no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$TvHms7wvLKO6oOgL$uU5YabvMqNlepz7RxGhgcWr9TF9vTQhYZ5vyrtjadSsuaTWfsYeuysDEiWRZVTjgfSm/BvwXU2CjOE4fCPjOM.
username arista privilege 15 role network-admin nopassword
username arista ssh-key ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDCUL118w+/CZbCkqd9R7VyNdhHuwXHcgL2ctnrPAGzmVfkSDx9+vrXmvmOSTW8ioaJmAref+J247LcGJ6SfA1F/sbvzSnh/D2+w8Aqjrv9URtrZg4iqcdfLCfi1Vn8dNQJoBPj3Hf9v36XebY5cZKCIfbdHwjIUu9tdr3NU2IgQB8rOyruQmCxPq5LPYv5I8BG8REOOrnv8//l4g36SdPgDeFlfoCS4hcVbubL8yZVjrss6j2IVkvL3z5JYgARZNM7DSbhTbWr7fDdTfx92xktFgycsobfXxDAW70bMOQvShEUHc2iPe9jgkyzTv7S0SmyZW9Grrx8VPBptgogd9dn7Vu1pyT/I15QHqsUpbBEbo6eVvZ/C0M06TjePwrKTM/BdnXLa1ozWgpKceF/AlhUaldQF74fNJ2IXPHECMZRafEhIPjLg0XdUdwMuuTsjCalsYzGLK63z7MbVI7bgeP1Zx44w0bdI19TKpHIQguGT8Ub+Pl37DPFdtvniBy9o00= tony@ansible-cn
username automator privilege 15 role network-admin nopassword
username automator ssh-key ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDCUL118w+/CZbCkqd9R7VyNdhHuwXHcgL2ctnrPAGzmVfkSDx9+vrXmvmOSTW8ioaJmAref+J247LcGJ6SfA1F/sbvzSnh/D2+w8Aqjrv9URtrZg4iqcdfLCfi1Vn8dNQJoBPj3Hf9v36XebY5cZKCIfbdHwjIUu9tdr3NU2IgQB8rOyruQmCxPq5LPYv5I8BG8REOOrnv8//l4g36SdPgDeFlfoCS4hcVbubL8yZVjrss6j2IVkvL3z5JYgARZNM7DSbhTbWr7fDdTfx92xktFgycsobfXxDAW70bMOQvShEUHc2iPe9jgkyzTv7S0SmyZW9Grrx8VPBptgogd9dn7Vu1pyT/I15QHqsUpbBEbo6eVvZ/C0M06TjePwrKTM/BdnXLa1ozWgpKceF/AlhUaldQF74fNJ2IXPHECMZRafEhIPjLg0XdUdwMuuTsjCalsYzGLK63z7MbVI7bgeP1Zx44w0bdI19TKpHIQguGT8Ub+Pl37DPFdtvniBy9o00= tony@ansible-cn
!
management api http-commands
   no shutdown
  !
   vrf MGMT
      no shutdown
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ inventory_hostname }}
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
vrf instance MGMT
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
{# Begin Loopback section #}
{% for Lo in devices[inventory_hostname]['loopbacks'] %}
interface {{ Lo }}
  ip address {{ devices[inventory_hostname]['loopbacks'][Lo] }}/32
  ip ospf area {{ global_options['OSPF_area'] }}

{% endfor %}
{# End Loopback section #}

!
{# Begin Ethernet section #}
{% for Eth in devices[inventory_hostname]['p2p'] %}
interface {{ Eth }}
  no switchport
  mtu {{ global_options['p2p_mtu'] }}
  ip address unnumbered {{ global_options['p2p_lo'] }}
  ip ospf area {{ global_options['OSPF_area']}}
  ip ospf network point-to-point

{% endfor %}
{# End Ethernet section#}

interface Management0
   vrf {{ global_options['mgmt_vrf'] }}
   ip address {{ devices[inventory_hostname]['mgmt'] }}
!
ip routing

!
ip route 0.0.0.0/0 172.20.20.1
!
ipv6 route ::/0 3fff:172:20:20::1
!
router multicast
   ipv4
      software-forwarding kernel
   !
   ipv6
      software-forwarding kernel
!
router ospf 10
  router-id {{ devices[inventory_hostname]['loopbacks']['loopback0'] }}
!
end